llama-index-core
llama-index-vector-stores-chroma
llama-index-embeddings-huggingface

chromadb
pandas

langchain
langchain-core
langchain-community
langchain-groq

sentence-transformers
huggingface-hub
torch

streamlit
python-dotenv

plotly
altair